<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur Whatsup</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
        body {background-color: #222; color:#fff;}
        .whatsup-header{height: 100px;}
        .whatsup-content {padding-top:10px;}
        .whatsup-navbar {background-color: #222;}
        .whatsup-navbar ul li > a:hover {background-color: #222;}
        .whatsup-menu {background-color: #de4b39;}
        .navbar-brand {color: #fff;}
        .navbar ul.navbar-nav > li > a {color:#fff;}
        .navbar ul.navbar-nav > li.active {background-color: #222;}

        .whatsup-wrapper {width:1024px; margin:auto; background-color: #000; min-height: 500px;}


    </style>


 </head>
 <body>
    <div class="whatsup-header">
        <nav class="whatsup-navbar navbar navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">WhatsUp!</a>
            </div>
            <div class="container whatsup-menu">
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="#">Musique</a></li>
                        <li><a href="#">Mode</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Cinéma</a></li>
                        <li><a href="#">Sorties</a></li>
                        <li><a href="#">Geek</a></li>
                    </ul>
                  
                  
                  </ul>
                  <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="button" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                  </form>
                </div><!-- /.navbar-collapse -->
                
            </div>
        </nav>
    </div>  
    <div class="whatsup-content">
        <div class="container">
            <div class="col-md-8">
              <div class="row" style="background-image:url({{asset('bundles/whatsup/img/paris-newyork.jpg')}})">.col-md-4
                    lorem<br />
                    lorem<br />
                    lorem<br />
                    lorem<br />
                    lorem<br />
              </div>
              <div class="row">
                blablablablablba
                blablablbalba
                blablablablbal
                blablablablbla
                blablablbalb
              </div>
              
            </div>
            <div class="col-md-4">.col-md-4
                blablablba
                blablablbalba
                blablablblabla
                blablballba
            </div>

        </div>
    </div>

</body>
</html>




