{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block body %}
    {% block content %}
    <center>
        <div class="whatsup-article-author-profil">
            <img src="/whatsup/web/uploads/documents/{{ entity.path }}" class="whatsup-image" width="780px" height="300px" />
        </div>
    </center>
    {% endblock %}
{% endblock %}
