{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <h1>{{entity.name}}</h1>

    {% for article in articles %}
        <div>{{ article.title }}</div>
    {% endfor %}


{% endblock %}
