{% extends "KnnfWhatsupBundle:Layout/front:index.html.twig" %}

{% block content %}
    <h1>{{entity.name}}</h1>

    {% for article in articles %}
        <div><a href="{{ path('article_show', { 'slug': article.slug }) }}">{{ article.title }}</a></div>
    {% endfor %}


{% endblock %}
