{# Article du mois #}

<a href="{{path('article_show',{'slug':article.slug})}}">
<img src="/whatsup/web/uploads/documents/{{ article.path }}" class="whatsup-image" width="390px"  height="200px" />
</a>