{# Article du mois #}

<a href="{{path('article_show',{'slug':article.slug})}}">
{% set path = '/uploads/documents/'~article.path %}

<img src="{{ path | imagine_filter('user_article_ofmonth') }}" class="whatsup-image" width="390px"  height="200px" />
</a>

