
{% if comments != null %}
{% for comment in comments %}
<div class="comment">
	<div class="avatar">
		<img src="{{ (comment.user.photo|length  > 0) ? asset('bundles/knnfwhatsup/img/avatar/') ~ comment.user.photo  : asset('bundles/knnfwhatsup/img/default-avatar.png') }}" height="92px" />
	</div>
	<div class="comment-bloc">
		<div class="comment-username"><strong>{{ comment.user.username }}</strong></div>
		{{comment.AnnotationContent}}
	</div>
</div>
{% endfor %}
{% endif %}