{% extends '::base.html.twig' %}

{% block body -%}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <p class="bg-success">{{ flashMessage }}</p>
{% endfor %}

    <h1>Article edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>delete</li>
</ul>

{% endblock %}
