<div>
{% for article in articles %}
	<a href="{{ path('article_show', { 'slug': article.slug }) }}">
		<div class="whatsup-item-bloc">
			<h4>{{ article.title }}</h4>
		</div>
	</a>
{% endfor %}
</div>