<div>
{% for article in articles %}
	<a href="{{ path('article_show', { 'slug': article.slug }) }}">
		<div class="whatsup-item-bloc articleItem" style="background:url(/whatsup/web/uploads/documents/{{article.path}}); ">
			<div class="contentItem">
	            <div class="backgroundContent"></div>
	            <h3 class="small">{{article.title}}</h3>
	        </div>
		</div>
	</a>
{% endfor %}
</div>