<div>
{% for article in articles %}
	<div class="whatsup-item-bloc">
		<a href="{{ path('article_show', { 'slug': article.slug }) }}">
			<h4>{{ article.title }}</h4>
			<div>{{ article.content }}</div>
		</a>
	</div>
{% endfor %}
</div>