{% extends "KnnfWhatsupBundle:Layout:admin.html.twig" %}

{% block title %}KnnfWhatsupBundle:Admin:index{% endblock %}

{% block body %}
{% block content %}
  <div id="content">
            <div id="content-header">
                <h1>Statistique</h1>
                <div class="btn-group">
                    <a class="btn"><i class="glyphicon glyphicon-file"></i></a>
                    <a class="btn" title="Manage Users"><i class="glyphicon glyphicon-user"></i></a>
                    <a class="btn"><i class="glyphicon glyphicon-comment"></i><span class="label label-danger">5</span></a>
                    <a class="btn"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                </div>
            </div>

            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
                <a href="#" class="current">Statistique</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 center" style="text-align: center;">                 
                        <ul class="stat-boxes">
                            <li class="popover-visits">
                                <div class="left sparkline_bar_good"><span>2,4,9,7,12,10,12</span>+10%</div>
                                <div class="right">
                                    <strong>36094</strong>
                                    Visits
                                </div>
                            </li>
                            <li class="popover-users">
                                <div class="left sparkline_bar_neutral"><span>20,15,18,14,10,9,9,9</span>0%</div>
                                <div class="right">
                                    <strong>1433</strong>
                                    Users
                                </div>
                            </li>
                            <li class="popover-orders">
                                <div class="left sparkline_bar_bad"><span>3,5,9,7,12,20,10</span>-50%</div>
                                <div class="right">
                                    <strong>8650</strong>
                                    Orders
                                </div>
                            </li>
                            <li class="popover-tickets">
                                <div class="left sparkline_line_good"><span>12,6,9,23,14,10,17</span>+70%</div>
                                <div class="right">
                                    <strong>2968</strong>
                                    Tickets
                                </div>
                            </li>
                        </ul>
                    </div>  
                </div>
              	<div id="chart_div">



              	</div>
                
            </div>
        </div>
{% block javascripts %}


 {% endblock %}
        {% endblock %}

{% endblock %}


