    <div class="col-md-8" style="text-align:right;">
            <a href="https://www.facebook.com/pages/Whats-Up-Rock-Family/138037362906184"><img width="62" height="62" alt="" src="{{asset('bundles/knnfwhatsup/img/facebook.jpg')}}" class=""></a>
            <a href="#"><img width="62" height="62" alt="" src="{{asset('bundles/knnfwhatsup/img/twitter.jpg')}}" class=""></a>
            <a href="https://www.youtube.com/user/theWhatsUpMusicTV"><img width="62" height="62" alt="" src="{{asset('bundles/knnfwhatsup/img/google.jpg')}}" class=""></a>
            <a href="mailto:contact@whatsupmusic.fr"><img width="62" height="62" alt="" src="{{asset('bundles/knnfwhatsup/img/email.jpg')}}" class=""></a>
    </div>