

<ul class="nav navbar-nav">
    <li class="active"><a href="{{ path('index') }}">Accueil</a></li>
    {% for category in categories %}
    <li><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{category.name}}</a></li>
    {% endfor %}
    <li><a href="http://www.ebay.fr">E-COMMERCE</a></li>
</ul>

